img { width:600px ; height:400px;}
html { 
  background: url("רקע 2.jpg") no-repeat center fixed; 
  background-size: cover;
}

 body { background-position: right top;
  background-attachment: fixed;
}

.red {font-size: 28px}
#spacial {font-size: 32px}
.centered-text {    
  text-align: center;
 
